<!do<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<!--更多资源：https://gitee.com/iGaoWei/big-data-view -->

<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>人民网数据爬取</title>
<!--大屏-->
<link type="text/css" href="../static/css/public.css" rel="stylesheet">
<link type="text/css" href="../static/css/icon.css" rel="stylesheet">
<link type="text/css" href="../static/css/index.css" rel="stylesheet">
<script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth /768*100 + 'px';
</script>
<script src="../static/js/echarts.min.js"></script>
</head>

<body>
<div class="bg">
	<div class="title">人民网数据爬取</div>
    <div class="leftMain">
    	<div class="leftMain_top">
        	<div class="leftMain_topIn">
            	<ul>
                	<li>
                        <div class="liIn">
                            <h3>观察</h3>
                            <p class="shu"><span class="shu1">“坚持自信自立”</span><i>自主创新</i></p>
                            <span class="border_bg_leftTop"></span>
                            <span class="border_bg_rightTop"></span>
                            <span class="border_bg_leftBottom"></span>
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>反腐</h3>
                            <p class="shu"><span class="shu2">打通营商“中梗阻”</span><i>重庆</i></p>
                            <span class="border_bg_leftTop"></span>
                            <span class="border_bg_rightTop"></span>
                            <span class="border_bg_leftBottom"></span>
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>党建</h3>
                            <p class="shu"><span class="shu3">“共治共管”</span><i>党建引领</i></p>
                            <span class="border_bg_leftTop"></span>
                            <span class="border_bg_rightTop"></span>
                            <span class="border_bg_leftBottom"></span>
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>党史</h3>
                            <p class="shu"><span class="shu4">革命政权见证</span><i>木刻横匾</i></p>
                            <span class="border_bg_leftTop"></span>
                            <span class="border_bg_rightTop"></span>
                            <span class="border_bg_leftBottom"></span>
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3>人民财评标签数统计</h3>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div class="biaoge" style="width:100%; height:25vh" id="chartmain"></div>
                    <script type="text/javascript">
					//window.onload = function () {
								//指定图表的配置项和数据
                                var data5 = {{ data5 | tojson }};
                                var data6 = {{ data6 | tojson }};

								var dataAxis = data5;
								var data = data6;
								var yMax = 50;
								var dataShadow = [];

								for (var i = 0; i < data.length; i++) {
									dataShadow.push(yMax);
								}

								option = {
									title: {
										text: '',
										subtext: ''
									},
									grid:{
										x:40,
										y:40,
										x2:20,
										y2:20,

									},
									xAxis: {
										data: dataAxis,
										axisLabel: {
											/*inside: true,*/
											interval:0,
											textStyle: {
												color: '#fff',
												fontSize: 12

											}
										},
										axisTick: {
											show: false,
										},
										axisLine: {
											show: true,
											symbol:['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#fff',
											}
										},
										z: 10
									},
									yAxis: {
										type: 'value',
										name: '单位：元',
										axisLine: {
											show: true,
											symbol: ['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#fff',
											}
										},
										axisTick: {
											show: false
										},
										axisLabel: {
											textStyle: {
												color: '#fff',
												fontSize: 12
											}
										}
									},

									dataZoom: [
										{
											type: 'inside'
										}
									],
									series: [
										{ // For shadow
											type: 'bar',
											itemStyle: {
												color: 'rgba(0,0,0,0.05)'
											},
											barGap: '-100%',
											barCategoryGap: '40%',
											data: dataShadow,
											animation: false
										},
										{
											type: 'bar',
											itemStyle: {
												color: new echarts.graphic.LinearGradient(
													0, 0, 0, 1,
													[
														{offset: 0, color: '#0efdff'},
														{offset: 0.5, color: '#188df0'},
														{offset: 1, color: '#188df0'}
													]
												)
											},
											emphasis: {
												itemStyle: {
													color: new echarts.graphic.LinearGradient(
														0, 0, 0, 1,
														[
															{offset: 0, color: '#2378f7'},
															{offset: 0.7, color: '#2378f7'},
															{offset: 1, color: '#0efdff'}
														]
													)
												}
											},
											data: data
										}
									]
								};

								// Enable data zoom when user click bar.
								/*var zoomSize = 6;
								myChart.on('click', function (params) {
									console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
									myChart.dispatchAction({
										type: 'dataZoom',
										startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
										endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
									});
								});*/

								//获取dom容器
								var myChart = echarts.init(document.getElementById('chartmain'));
								// 使用刚指定的配置项和数据显示图表。
								myChart.setOption(option);
						//};
					</script>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        	<div class="leftMain_middle_right">
            	<div class="leftMain_middle_rightIn">
                	<h3>新闻发布时间统计</h3>
                    <div class="biaoge biaoge_pai" style="width:100%; height:25vh" id="ec">
                        <script>
                          var data1 = {{ data1 | tojson }};
                          var data2 = {{ data2 | tojson }};

                          var chartDom = document.getElementById('ec');
                          var myChart = echarts.init(chartDom, 'dark');
                          var option;

                          option = {
                            xAxis: {
                              type: 'category',
                              data: data1
                            },
                            yAxis: {
                              type: 'value'
                            },
                            series: [
                              {
                                data: data2,
                                type: 'line'
                              }
                            ]
                          };

                          option && myChart.setOption(option);
                        </script>




                    </div>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        </div>
        <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3>报道小标题统计</h3>
                    <div class="biaoge" style="width:100%; height:25vh" id="chartmain_zhe"></div>
                    <script>
                    var data7 = {{ data7 | tojson }};
                    var data8 = {{ data8 | tojson }};
                    var chartDom = document.getElementById('chartmain_zhe');
var myChart = echarts.init(chartDom, 'dark');
var option;

option = {

  polar: {
    radius: [30, '80%']
  },
  radiusAxis: {
    max: 75
  },
  angleAxis: {
    type: 'category',
    data: data7,
    startAngle: 75
  },
  tooltip: {},
  series: {
    type: 'bar',
    data: data8,
    coordinateSystem: 'polar',
    label: {
      show: true,
      position: 'middle',
      formatter: '{b}: {c}'
    }
  },
  animation: false
};

option && myChart.setOption(option);
					</script>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        	<div class="leftMain_middle_right">
            	<div class="leftMain_middle_rightIn">
                	<h3>词云图</h3>
                    <div class="biaoge biaoge_bi" style="width:100%; height:25vh">


                    </div>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="rightMain">
        <div class="rightMain_top">
            <div class="rightMain_topIn">
                <h3>台湾地区新闻来源统计</h3>
                <div class="biaoge" style="width:100%; height:30vh" id="chartmain_bing"></div>
                <script>
                    var data3 = {{ data3 | tojson }};
                    var data4 = {{ data4 | tojson }};
                    var chartDom = document.getElementById('chartmain_bing');
var myChart = echarts.init(chartDom, 'dark');
var option;

option = {

  polar: {
    radius: [30, '80%']
  },
  angleAxis: {
    max: 3800,
    startAngle: 75
  },
  radiusAxis: {
    type: 'category',
    data: data3,
  },
  tooltip: {},
  series: {
    type: 'bar',
    data: data4,
    color: '#ffd700',
    coordinateSystem: 'polar',
    label: {
      show: true,
      position: 'middle',
      formatter: '{b}: {c}'
    }
  }
};

option && myChart.setOption(option);

                </script>
                <span class="border_bg_leftTop"></span>
                <span class="border_bg_rightTop"></span>
                <span class="border_bg_leftBottom"></span>
                <span class="border_bg_rightBottom"></span>
            </div>
         </div>
        <div class="rightMain_bottom">
            <div class="rightMain_bottomIn">
                <h3>人民网评关键词一览</h3>
                <div class="biaoge biaoge_list" style="width:250%; height:36vh">
                	<div class="biaoge_listIn">
                    	<ul class="ul_title">
                        	<li>时间</li>
                            <li>标题</li>

                        </ul>
                        <div class="ul_list">
                        	<div class="ul_listIn">
                                <ul class="ul_con">
                                    <li>2023-07-17 14:00</li>
                                    <li>公共政策｜造谣</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-17 11:45</li>
                                    <li>夏粮产量</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-15 08:36</li>
                                    <li>国土空间</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-15 08:13</li>
                                    <li>工匠精神</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-14 14:52</li>
                                    <li>“幸福圈”</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-14 10:45</li>
                                    <li>排水防涝工作</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>2023-07-12 10:39</li>
                                    <li>文化自信</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-12 08:15</li>
                                    <li>防汛救灾</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>2023-07-11 16:26</li>
                                    <li>自媒体</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>2023-07-11 16:16</li>
                                    <li>生物科技｜法律</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>2023-07-11 10:32</li>
                                    <li>中华文化发展</li>

                                </ul>
                                 <ul class="ul_con">
                                    <li>2023-07-10 11:06</li>
                                    <li>“千万工程”｜农民</li>

                                </ul>
                            </div>
                       </div>
                   </div>

                </div>
                <span class="border_bg_leftTop"></span>
                <span class="border_bg_rightTop"></span>
                <span class="border_bg_leftBottom"></span>
                <span class="border_bg_rightBottom"></span>
            </div>
         </div>
    </div>
    <div style="clear:both;"></div>
</div>
<!--大屏-->
<!--数字增长累加动画-->
<script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../static/js/jquery.numscroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".shu1").numScroll();
	$(".shu2").numScroll();
	$(".shu3").numScroll();
	$(".shu4").numScroll();
	$(".shu5").numScroll();
	$(".shu6").numScroll();

	/*$(".num2").numScroll({
		time:5000
	});*/
</script>
<!--大屏-->
</body>
</html>
